extends layout

block content
    link(rel='stylesheet', href="../stylesheets/signin.css")
    link(rel='stylesheet', href="../stylesheets/register.css")
    div.container
        form.form-signin(action="/register", method="post")
            h2.form-signin-heading REGISTER PLEASE
            input.form-control(placeholder='id', required="", autofocus="", type="text", name="id_section")
            input.form-control(placeholder='password', required="", type="password", name="password_section")
            button.btn.btn-lg.btn-primary.btn-block(type="submit") REGISTER

